<% include ../partials/boilerplate %>


<form class="editcard" method="POST" action="<%= `/students/${student.id}?_method=PUT` %>">
    <h1>Edit a student</h1>
    <div class="edit_form">
          <label  for="id">Student Id: </label>
          <span><%= student.id %></span>
    </div>
    <div class="edit_form">
          <label for="student_name">Name</label>
          <input id="student_name" type="text" name="student_name" value="<%= student.student_name %>" />
    </div>
    <div class="edit_form">
          <label  for="email">Email</label>
          <input id="email" type="text" name="email" value="<%= student.email %>" />
    </div>
    <div class="edit_form">
          <label  for="gender">Gender</label>
          <input id="gender" type="radio" name="male" value="male" value="<%= student.gender %>" />
    </div>
    <div class="edit_form">
          <label  for="phone_number">Mobile #</label>
          <input id="phone_number" type="text" name="phone_number" value="<%= student.phone_number %>" />
    </div>
    <div>
          <button class="btn">Save</button>
    </div>
    <div class="edit_form">
        <a class="link" href="<%= `/students/${student.id}` %>">Cancel</a>
    </div>
</form>

<% include ../partials/end %>

