<% include ../partials/boilerplate %>
<div>
    <a class="add" href="/students/new">Add a student!</a>
</div>

<% students.forEach(student => { %>
<div class="card">
    <div class="imgbackground">
        <div class="img"></div>
    </div>
    <div class="contain">
        <span class="edit_form"><%= student.student_name %></span>
        <span class="edit_form"><%= student.email %></span>
        <span class="edit_form"><%= student.phone_number %></span>
        <span class="edit_form">

            <a  class="edit" href="<%= `/students/${student.id}/edit`%>">Edit</a>
            <form action="<%= `/students/${student.id}?_method=DELETE` %>" method="POST">
                <button class="btn">Delete</button>
            </form>
        </span>
    </div>

</div>

<% }) %>


<% include ../partials/end %>
