<% include ../partials/boilerplate %>

<% students.forEach(student => { %>
<div class="student">

    <h4>
        <a href="<%= `/students/${student.id}` %>">
            <%= student.id %>
        </a>
        <br />
            <%= student.student_name %>
        <br />
            <%= student.email %>
        <br />
            <%= student.gender %>
        <br />
            <%= student.phone_number %>
        <br />
        <a href="/students/new">Add a student!</a>

    </h4>

</div>
<% }) %>

<% include ../partials/end %>
