
<% include ../partials/boilerplate %>
<div class="update">
<span class="edit_form">
<%=  student.id %>
</span>
    <span class="edit_form">
<%= student.student_name %>
</span>
    <span class="edit_form">
<%= student.email %>
    </span>
    <span class="edit_form">
<%= student.phone_number%>
    </span>
<a class="back"href="/students">Back</a>
<a class="edit"href="<%= `/students/${student.id}/edit`%>">Edit</a>
<form action="<%= `/students/${student.id}?_method=DELETE` %>" method="POST">
    <button class="btn">Delete</button>
</form>
</div>
<% include ../partials/end %>
