
<% include ../partials/boilerplate %>
<div class="student">

<%= student.id %>
<br />
    <div class="data">
<%= student.student_name %>
<br />
<%= student.email %>
<br />
<%= student.gender %>
<br />
<%= student.phone_number%>
<br />
    </div>
<a class="linkback"href="/students">Back</a>
<a class="linkedit"href="<%= `/students/${student.id}/edit`%>">Edit</a>
<form action="<%= `/students/${student.id}?_method=DELETE` %>" method="POST">
    <a class="linkedit" href="/students">Delete</a>
</form>
</div>
<% include ../partials/end %>
