<% include ../partials/boilerplate %>
<form class="editcard" method="POST" action="<%= `/classes/${classData.id}?_method=PUT` %>">
    <h1>Edit a classes</h1>
    <div class="edit_form">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= classData.name %>" />
    </div>
    <div class="edit_form">
        <label for="instructor">Instructor</label>
        <input id="instructor" type="text" name="instructor" value="<%= classData.instructor %>" />
    </div>
    <div class="edit_form">
        <label for="start_date">Start_date</label>
        <input id="start_date" type="text" name="start_date" value="<%= classData.start_date %>" />
    </div>
    <div class="edit_form">
        <label for="end_date">End_date</label>
        <input id="end_date" type="text" name="end_date" value="<%= classData.end_date %>" />
    </div>
    <div>
        <button class="btn">Save</button>
    </div>
    <div class="edit_form">
        <a class="link" href="/classes">Cancle</a>
    </div>
</form>
<% include ../partials/end %>

