<% include ../partials/boilerplate %>
<div class="update">
<div class="edit_form">
<%= classData.id %>
<%= classData.name %>
<%= classData.instructor %>
<%= classData.start_date %>
<%= classData.end_date %>
<a class="back"href="/classes">Back</a>
<a class="edit"href="<%= `/classes/${classData.id}/edit`%>">Edit</a>
<div action="<%= `/classes/${classData.id}?_method=DELETE` %>" method="POST">
    <button class="btn">Delete</button>
</div>
</form>
</div>
<% include ../partials/end %>
