<% include ../partials/boilerplate %>
<div class="update">
<span class="edit_form">
<%= classData.id %>
</span>
    <span class="edit_form">
<%= classData.name %>
    </span>
    <span class="edit_form">
<%= classData.instructor %>
    </span>
    <span class="edit_form">
<%= classData.start_date %>
    </span>
    <span class="edit_form">
<%= classData.end_date %>
    </span>
<a class="back"href="/classes">Back</a>


<a class="edit"href="<%= `/classes/${classData.id}/edit`%>">Edit</a>
<form action="<%= `/classes/${classData.id}?_method=DELETE` %>" method="POST">
    <button class="btn">Delete</button>
</form>
</div>
<% include ../partials/end %>
