<% include ../partials/boilerplate %>
<div class="editcard">
    <div class="edit_form">
<%= classData.id %>
    </div>
    <div class="edit_form">
<%= classData.name %>
    </div>
    <div class="edit_form">
<%= classData.instructor %>
    </div>
    <div class="edit_form">
<%= classData.start_date %>
    </div>
    <div class="edit_form">
<%= classData.end_date %>
    </div>
    <div class="actions">
        <a class="btn"href="/classes">Back to Classes</a>
    </div>

<% include ../partials/end %>
